{% extends 'admin/layout.html.twig' %}
{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h1><i class="glyph2x-group"></i>Users</h1>
        <p class="lead pull-left">Manage Baïkal user accounts, and associated resources.</p>
        <p class="lead pull-right"><a class="btn btn btn-inverse" href="{{ path('admin_users_create') }}"><i class="icon-white icon-user"></i> + Add user</a></p>
    </header>

    <table class="table table-bordered table-striped users">
        {% for user in users %}
            <tr>
                <td class="col-userName">
                    <i class="icon-user"></i> <strong>{{ user.userName }}</strong><br />
                    {{ user.displayName }} <a href="mailto:{{ user.email }}">&lt;{{ user.email }}&gt;</a>
                </td>
                <td class="col-actions no-border-left">
                    <p class="pull-right">
                        <nobr><a class="btn" href="{{ path('admin_user_calendars', {userName: user.userName}) }}"><i class="icon-calendar"></i> Calendars</a></nobr>
                        <nobr><a class="btn" href="{{ path('admin_user_addressbooks', {userName: user.userName}) }}"><i class="icon-book"></i> Address Books</a></nobr>
                        <nobr><a class="btn btn-primary" href="{{ path('admin_user_edit', {userName: user.userName}) }}"><i class="icon-edit icon-white"></i>  Edit</a></nobr>
                        <nobr><a class="btn btn-danger" href="{{ path('admin_user_delete', {userName: user.userName}) }}"><i class="icon-remove icon-white"></i> Delete</a></nobr>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a id='form'></a>
{% endblock %}
