{% extends "BaikalAdminBundle:Layouts:standard.html.twig" %}

    {% if user is defined %}
        {% set pagetitle = "Editing user '" ~ user.uiLabel() ~ "'" %}
    {% else %}
        {% set pagetitle = "New user" %}
    {% endif %}

{% block content %}


{% embed "BaikalViewComponentsBundle:Components:pageheader.html.twig" %}
    {% set icon = "group" %}

    {% block header %}

        <a href="{{ path('baikal_admin_user_list') }}">Users</a>
        
        <i class="fa fa-angle-right"></i>

        {% if user is defined %}
            {% include "BaikalViewComponentsBundle:Components:avatar.textsize.html.twig" with { email: user.email } %} {{ user.uiLabel() }}

            <i class="fa fa-angle-right"></i>

            Edit
        {% else %}
            New user
        {% endif %}

    {% endblock header %}
{% endembed %}

<div class="container">
    <form class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} role="form" novalidate>

        <fieldset>

            {% import '::forms.html.twig' as forms %}

            {% if user is defined %}
                {{ forms.syntheticreadonly(user.username(), 'Username') }}
            {% else %}
                {{ forms.text(form.username) }}
            {% endif %}

            {{ forms.text(form.displayname) }}

            {{ forms.text(form.email) }}

            {{ forms.checkboxes(form.roles) }}

            {{ forms.confirmedpassword(form.password, user is defined) }}

            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2 col-lg-offset-2 col-lg-1">
                    <a href="{{ path('baikal_admin_user_list') }}" class="btn btn-link btn-large">Cancel</a>
                </div>

                <div class="col-sm-2 col-lg-1">
                    {% if user is defined %}
                    <button type="submit" class="btn btn-primary btn-large">Update user <i class="fa fa-user"></i> {{ user.uiLabel() }}</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-large">Create <i class="fa fa-user"></i> user</button>
                    {% endif %}
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}