{% embed "BaikalViewComponentsBundle:Components:list.html.twig" %}
    {% block payload %}
        {% set principal = item.getIdentityPrincipal() %}
        <p class="list-itemtitle">
            {% include "BaikalViewComponentsBundle:Components:avatar.textsize.html.twig" with { email: item.email } %} {{ item.uiLabel() }}
        </p>
            
        {% if principal %}
            <p>
                <nobr>{{ item.getUsername() }} <a href="mailto:{{ principal.getEmail() }}">&lt;{{ principal.getEmail() }}&gt;</a></nobr>
            </p>
        {% endif %}
    {% endblock %}
    {% block actions %}
        <nobr>
            <div class="btn-group btn-group-justified pull-right">
                {#<a class="btn btn-default" href="{{ path('baikal_admin_user_info', { 'id' : item.id }) }}"><i class="fa fa-eye"></i> <span class="hidden-xs hidden-sm inline-block">View</span></a>#}
                {% if item.hasRole("ROLE_FRONTEND_USER") %}
                <a class="btn btn-default" href="{{ path('baikal_admin_user_calendar_list', { 'id' : item.id }) }}"><i class="fa fa-calendar"></i> <span class="hidden-xs hidden-sm inline-block">Calendars</span></a>
                <a class="btn btn-default" href="{{ path('baikal_admin_user_addressbook_list', { 'id' : item.id }) }}"><i class="fa fa-book"></i> <span class="hidden-xs hidden-sm inline-block">Contacts</span></a>
                {% else %}
                <a class="btn btn-default btn-disabled" disabled href="#"><i class="fa fa-calendar"></i> <span class="hidden-xs hidden-sm inline-block">Calendars</span></a>
                <a class="btn btn-default btn-disabled" disabled href="#"><i class="fa fa-book"></i> <span class="hidden-xs hidden-sm inline-block">Contacts</span></a>
                {% endif %}
                <a class="btn btn-primary" href="{{ path('baikal_admin_user_form_edit', { 'id' : item.id }) }}"><i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm inline-block">Edit</span></a>
                <a class="btn btn-danger delete" href="{{ path('baikal_admin_user_list_delete', { 'id' : item.id }) }}" data-itemname="{{ item.uiLabel() | escape() }}"><i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm inline-block">Delete</span></a>
            </div>
        </nobr>
    {% endblock %}
    {% block deletemodal %}
        {% embed "BaikalViewComponentsBundle:Components:modal.html.twig" %}
            
            {% block title %}Delete user <i class="fa fa-user"></i> <span class="itemname">Username</span>{% endblock %}
            {% block body %}
                <p>You are about to delete <strong><i class="fa fa-user"></i> <span class="itemname">Username</span></strong> and all related data (calendars, contacts, ...).</p>
                <p><strong>Careful ! This operation is destructive, and cannot be undone.</strong></p>
            {% endblock %}

        {% endembed %}
    {% endblock %}
{% endembed %}