{% extends "BaikalAdminBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "Settings" %}

{% block content %}

{% embed "BaikalViewComponentsBundle:Components:pageheader.html.twig" %}
    {% set icon = "cogs" %}
    {% set header = "Settings" %}
{% endembed %}

<div class="container">

    {% include "BaikalViewComponentsBundle:Components:flash.notice.html.twig" %}
    
    <form class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} role="form" novalidate>
        <fieldset>

            {% import '::forms.html.twig' as forms %}

            {{ forms.text(form.server_timezone) }}

            {{ forms.checkbox(form.enable_caldav) }}

            {{ forms.checkbox(form.enable_carddav) }}

            {{ forms.checkbox(form.enable_versioncheck) }}

            {{ form_rest(form) }}

            <div class="form-group">

                <div class="col-sm-offset-4 col-sm-2 col-lg-offset-2 col-lg-1">
                    <button type="submit" class="btn btn-primary btn-large">Update <i class="fa fa-cogs"></i> Settings</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}