<div class="container">
    <form class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} role="form" novalidate>

        <fieldset>

            {% import '::forms.html.twig' as forms %}

            {{ forms.text(form.displayname) }}
            
            {{ forms.text(form.description) }}

            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2 col-lg-offset-2 col-lg-1">
                    <a href="{{ url_cancel }}" class="btn btn-link btn-large">Cancel</a>
                </div>

                <div class="col-sm-2 col-lg-1">
                    {% if new %}
                    <button type="submit" class="btn btn-primary btn-large">Create <i class="fa fa-book"></i> book</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-large">Update <i class="fa fa-book"></i> {{ addressbook.displayName() }}</button>
                    {% endif %}
                </div>
            </div>
        </fieldset>
    </form>
</div>