{{{calendarStyleTag}}}
<div {{bind-attr class="className :container"}}>

    <div class="row cal-header"><!-- @ws
        --><div class="col-xs-1 fullscreenlink"><a class="btn btn-link" {{action 'fullscreen'}}>{{#if fullscreen }}<i class="fa fa-compress"></i>{{else}}<i class="fa fa-expand"></i>{{/if}}</a></div><!-- @ws
        --><div class="col-xs-8 col-xs-offset-1 text-center"><!-- @ws
            --><button class="btn btn-link btn-sm" {{action 'prev'}}><i class="fa fa-chevron-left"></i></button><!-- @ws
            --><strong class="calendartitle">{{calendar.title}}</strong><!-- @ws
            --><button class="btn btn-link btn-sm" {{action 'next'}}><i class="fa fa-chevron-right"></i></button><!-- @ws
        --></div><!-- @ws
    --></div>

    <div class="row calendarspace">
        <div {{bind-attr class="displayClass"}}>
            {{ember-cal
                component=calendar
                events=calendarevents
                color=eventcolor
                textcolor=textcolor
                viewChanged='viewChanged'
                eventSelected='eventSelected'
                eventUnselected='eventUnselected'}}
        </div>

        {{#if selectedEvent}}
            <div class="col-sm-3 calendarevent" style="margin-top: 20px;">
                {{event-form
                    event=selectedEvent}}

                <div class="text-center" style="margin-top: 2em;"><button class="btn btn-default btn-sm" {{action 'closeEvent'}}>Close</button></div>
            </div>
        {{/if}}
    </div>
</div>