{% extends "BaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "User profile" %}

{% block content %}

{% embed "BaikalViewComponentsBundle:Components:pageheader.html.twig" %}

    {% block header %}

        {% include "BaikalViewComponentsBundle:Components:avatar.textsize.html.twig" with { email: user.email } %} My profile

    {% endblock header %}
{% endembed %}

<div class="container">

    <form class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }} role="form" novalidate>

        <fieldset>

            {% if user is defined %}
                <div class="form-group">
                    <label class="col-sm-4 col-lg-2 control-label">Username</label>
                    <div class="col-sm-8 col-lg-4">
                        <p class="form-control-static">{{ user.username() }}
                    </div>
                </div>
            {% else %}
                <div class="form-group{% if form.username.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(form.username, label|default(null), { 'label_attr': { 'class': 'col-sm-4 col-lg-2 control-label' } }) }}
                    <div class="col-sm-8 col-lg-4">
                        {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } }) }}
                        {% if not form.username.vars.valid %}<span class="help-block">{{ form.username.vars.errors[0].getMessage() }}</span>{% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="form-group{% if form.displayname.vars.errors|length %} has-error{% endif %}">
                {{ form_label(form.displayname, label|default(null), { 'label_attr': { 'class': 'col-sm-4 col-lg-2 control-label' } }) }}
                <div class="col-sm-8 col-lg-4">
                    {{ form_widget(form.displayname, { 'attr': { 'class': 'form-control' } }) }}
                    {% if not form.displayname.vars.valid %}<span class="help-block">{{ form.displayname.vars.errors[0].getMessage() }}</span>{% endif %}
                </div>
            </div>

            <div class="form-group{% if form.email.vars.errors|length %} has-error{% endif %}">
                {{ form_label(form.email, label|default(null), { 'label_attr': { 'class': 'col-sm-4 col-lg-2 control-label' } }) }}
                <div class="col-sm-8 col-lg-4">
                    {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
                    {% if not form.email.vars.valid %}<span class="help-block">{{ form.email.vars.errors[0].getMessage() }}</span>{% endif %}
                </div>
            </div>

            {% for passwordField in form.password %}
                <div class="form-group{% if passwordField.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(passwordField, label|default(null), { 'label_attr': { 'class': 'col-sm-4 col-lg-2 control-label' } }) }}
                    <div class="col-sm-8 col-lg-4">
                        
                        {% if user is defined %}
                            {% set passwordplaceholder = '-- Leave empty to keep current password --' %}
                        {% else %}
                            {% set passwordplaceholder = '' %}
                        {% endif %}

                        {{ form_widget(passwordField, { 'attr': { 'class': 'form-control' , 'placeholder': passwordplaceholder } }) }}
                        {% if not passwordField.vars.valid %}<span class="help-block">{{ passwordField.vars.errors[0].getMessage() }}</span>{% endif %}
                    </div>
                </div>
            {% endfor %}

            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2 col-lg-offset-2 col-lg-1">
                    <button type="submit" class="btn btn-primary btn-large">Update my profile</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}